@import'./vars';

body {
  position: relative;
  height: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.wrapper {
  width: 960px;
  max-width: 100%;
  margin: 0rem auto;
}

p {
  font-family: $font2;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.center {
  text-align: center;
}

section {
  padding: 2rem 0 5rem 0;
}

img {
  width: 100%;
}
